:root{
    --border: #fff27c solid 3px;
    --sun: #fff27c;
}
.navBar {
    display: flex; 
    flex-direction: row;   
    
}
footer{
    display:flex;
    /* justify-content: center; */
    align-items: center;
    position:fixed;
    height:15vh;
    bottom:0;
    border: black solid 3px;
    left: 0;
    width: 100vw;
    /* background-color: red; */
    color: black;
    font-size:1.7em;
  
}

.sunCount{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width:7vw;
    height:10vh; 
    background:#fff27c;
    border-radius:50%;
    border:var(--border);
    margin:2vw;

}

.checkedCount, .totalCount, .dashDivider{
    /* border:var(--border); */
    background:var(--sun);
    width:7vw;
    height:3vh;
    text-align: center;
}
    
.img__bin {
    width: 30px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #61CEEB;
}


li {
    background-color: #FFFEFF;
    border-radius: 5px;
    margin-top: 9vh;
    display: flex;
    align-items: center;
}

li > p {
    padding: 0 0.5rem;
}

li > img {
    padding: 0 0.5rem;
}

.div-cloud {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid blue 1px; */

    background-image: url("images/Clouds.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 50vw;
    height: 50vh;
}
