:root {
  --border: #F6F49F solid 3px;
  --sun: #F6F49F;
  --sky: #61ceeb;
}

.navBar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100vw;
  position: fixed;
  top: 0;
}

.addImg {
  cursor: pointer;
}

.hidden {
  display: none;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 12vh;
  bottom: 0;
  left: 0;
  width: 100vw;
  color: #242B46;
  font-size: 1.7em;
  background-color: var(--sky);
}

.addImg {
  width: 20vw;
}

.sunCount {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 7vw;
  height: 10vh;
  background: #F6F49F;
  border-radius: 50%;
  border: var(--border);
  margin: 2vw;
  font-size: 2rem;
}

.checkedCount, .totalCount, .dashDivider {
  background: var(--sun);
  width: 7vw;
  height: 3vh;
  text-align: center;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--sky);
  color: #242B46;
}

#cloud-container {
  width: 100vw;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.task-container {
  background-color: #fffeff;
  border-radius: 5px;
  margin-top: 9vh;
  display: flex;
  align-items: center;

}

.task-container > p {
  padding: 0 0.5rem;
}

.task-container > img {
  padding: 0 0.5rem;
}

.div-cloud {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("images/Clouds.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 45vw;
  height: 45vh;
  margin: 1rem;
}

.green-cloud {
    background-image: url("images/Clouds-green.svg");
}

.green-background {
    background-color: #75E3D0;
}

.checkbox {
  transform: scale(2);
  margin: 1rem;
}

.p__cloud {
    overflow-y: scroll;
    display: inline-block;
    overflow-wrap: break-word;
    max-width: 13vw;
    max-height: 7vh;
    margin: 0;
    font-size: 1.5rem;
  }

  #img__bin {
    width: 2em;
    margin-left: 0.6rem;
  }
  
.input__task{
    font-size: 2rem;
}

.button_add {
    font-size: 2rem;
}


@media only screen and (max-width: 1024px) {
  .div-cloud {
    width: 45vw;
    height: 30vh;
  }

  .addImg {
    width: 40vw;
  }

  .sunCount {
    width: 12vw;
    font-size: 1.5em;
}
}

@media only screen and (max-width: 640px) {
  .div-cloud {
    width: 60vw;
    height: 40vh;
  }

  .p__cloud {
    max-width: 20vw;
    max-height: 5vh;
  }

  .input__task{
    font-size: 0.7rem;
}

.button_add {
    font-size: 1rem;
}

.addImg {
    width: 35vw;
  }

.sunCount {
    width: 15vw;
}

}



